{% extends 'base.html.twig' %}

{% block title %}Belleville - Histoire{% endblock %}

{% block body %}
<style>
    body {
        background-color: rgba(186, 197, 228, 0.349);
    }

    h1 {
        text-align: center;
        padding-top: 90px;
        margin-bottom: 0px;
        height: 250px;
        width: 100%;
        color: white;
        font-size: 50px;
        background: center url('http://village.dylanweisse.com/mairie.jpg');
    }

    .container {
        background-color: #fff;
        margin-top: 0 !important;
        padding-top: 50px !important;
    }

    p {
        font-size: 18px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
    }

    h3 {
        padding-left: 100px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h1>En savoir plus sur : Belleville</h1>

<div class="container">
    <p>Belleville est une commune française urbaine, située dans le département de Meurthe-et-Moselle en région Grand
        Est. Ses habitants sont les Bellevillois.</p>
    <h2>Géographie</h2>
    <h3>Site et situation</h3>
    <p>Belleville fait partie du parc naturel régional de Lorraine. L'altitude moyenne de la commune est à 200 mètres.
        <br>

        Les communes les plus proches sont Autreville-sur-Moselle, Bezaumont, Marbache, Millery et Ville-au-Val. Les
        villes les plus proches de Belleville sont Nancy, située à 15 kilomètres environ vers le sud, et Pont-à-Mousson
        vers le nord. <br>

        Les cours d'eau de la commune sont la rivière Moselle et les forêts sont à proximité.</p> <br>

    <h2>Urbanisme</h2>

    <h3>Typologie</h3>
    <p>Belleville est une commune rurale, car elle fait partie des communes peu ou très peu denses, au sens de la grille
        communale de densité de l'Insee. Elle appartient à l'unité urbaine de Nancy, une agglomération
        intra-départementale regroupant 28 communes et 286 041 habitants en 2017, dont elle est une commune de la
        banlieue. <br>

        Par ailleurs la commune fait partie de l'aire d'attraction de Nancy dont elle est une commune de la couronne.
        <br> Cette aire, qui regroupe 353 communes, est catégorisée dans les aires de 200 000 à moins de 700 000
        habitants.</p> <br>

    <h3>Occupation des sols</h3>
    <p>L'occupation des sols de la commune, telle qu'elle ressort de la base de données européenne d’occupation
        biophysique des sols Corine Land Cover (CLC), est marquée par l'importance des forêts et milieux semi-naturels
        (47,4 % en 2018), une proportion identique à celle de 1990 (47,4 %). La répartition détaillée en 2018 est la
        suivante : forêts (47,4 %), terres arables (22,4 %), zones urbanisées (7,8 %), eaux continentales (6,7 %),
        zones humides intérieures (6 %), zones industrielles ou commerciales et réseaux de communication (4,2 %),
        prairies (2,9 %), cultures permanentes (2,6 %). <br>

        L'IGN met par ailleurs à disposition un outil en ligne permettant de comparer l’évolution dans le temps de
        l’occupation des sols de la commune (ou de territoires à des échelles différentes). Plusieurs époques sont
        accessibles sous forme de cartes ou photos aériennes : la carte de Cassini (xviiie siècle), la carte
        d'état-major (1820-1866) et la période actuelle (1950 à aujourd'hui).</p>

    <h3>Occupation des sols</h3>
    <p>La commune est soumise aux risques d'inondations, de mouvements de terrain, au risque industriel et au risque de
        séisme zone de sismicité.</p>
    <h2>Toponymie</h2>
    <p>La commune s'est nommée: Busnei villa en 932 et Bella villa en 948. <br>

        Il s'agit d'une Bella Villa, un « beau domaine ».</p> <br>
    <h2>Histoire</h2>
    <p>Belleville dépendait de Scarpone (cité antique sur le territoire actuel de Dieulouard), puis du diocèse de Toul.
    </p> <br>
    <h2>Population et société</h2>
    <h3>Démographie</h3>

    <p>L'évolution du nombre d'habitants est connue à travers les recensements de la population effectués dans la
        commune depuis 1793. À partir de 2006, les populations légales des communes sont publiées annuellement par
        l'Insee. Le recensement repose désormais sur une collecte d'information annuelle, concernant successivement tous
        les territoires communaux au cours d'une période de cinq ans. Pour les communes de moins de 10 000 habitants,
        une enquête de recensement portant sur toute la population est réalisée tous les cinq ans, les populations
        légales des années intermédiaires étant quant à elles estimées par interpolation ou extrapolation. Pour la
        commune, le premier recensement exhaustif entrant dans le cadre du nouveau dispositif a été réalisé en 2007.
        <br>

        En 2019, la commune comptait 1 465 habitants, en augmentation de 3,68 % par rapport à 2013
        (Meurthe-et-Moselle : +0,38 %, France hors Mayotte : +2,17 %).</p> <br>

    <h2>Culture locale et patrimoine</h2>
    <h3>Lieux et monuments</h3>
    <p>Ruines du donjon xiiie siècle/xive siècle.</p> <br>
    <p>L'endroit précis d'érection du monument correspond sensiblement au point d'avance ultime des armées allemandes le
        7 septembre 1914 comme en témoigne l'inscription ci-dessus. Ce fait explique que la statue "tourne" le dos au
        village. <br>

        Il semble également que la statue du monument représente monsieur Chaulassel Raymond, ancien poilu et
        certainement ancien habitant du village. Le monument a été inauguré le 28 juin 1925 et doit son élévation à
        l'initiative de Norbert Variot, ancien maire, qui joignit sa contribution financière à celle des habitants. Le
        soldat est représenté vêtu de l'uniforme de 1914.</p> <br>

    <p>Pendant la Grande Guerre, Belleville, proche du front, connut la présence d’un hôpital militaire pendant une
        bonne partie du conflit, notamment pendant la seconde période de la terrible bataille du Bois le Prêtre sur les
        hauteurs de Pont-à-Mousson et Montauville. <br>

        Cet hôpital a réellement fonctionné à partir du 6 mai 1915. Il était installé au centre du village, le long de
        la ligne de chemin de fer Nancy-Metz. Bien qu’il ait occupé en partie le château Variot, propriété de Norbert
        Variot le maire de l'époque, et mairie actuelle en 2009, il était essentiellement constitué de baraquements en
        bois permettant de dispenser des soins à 700 blessés, dont 200 couchés et 500 assis suivant les termes de
        l’époque. Cet hôpital dépendait directement des services sanitaires de la 73 DI du général Lebocq et était
        placé, comme toutes les unités du service de santé de la 73e, sous le contrôle du médecin divisionnaire, le
        docteur Viela.</p> <br>

      <p>  Au début du conflit, les formations sanitaires divisionnaires étaient constituées d’un groupe de brancardiers
        doté de trois ambulances hippomobiles et de deux sections d’hospitalisation. En janvier 1915, le QG, le groupe
        des brancardiers, l’Ambulance no 1, et la Section d’Hospitalisation no 1 sont à Manonville, l’A2 à Avrainville,
        l’A3 à Martincourt, la SH2 à Toul. Une ambulance est « soit un hôpital militaire ambulant, soit une formation
        sanitaire, équipé de voitures légères chargé des premiers soins des blessés » (Petit Robert). L’attaque
        française du 17 janvier 1915 au Bois le prêtre nécessite l’envoi d’une section du groupe de brancardiers à
        l’hôpital auxiliaire no 45 de Pont-à-Mousson où 85 blessés sont relevés. Le 8 février, l’A2 est déplacée au
        couvent des Moines à Dieulouard, elle fera office d’infirmerie de garnison. En mars, les formations se
        déplaceront, une demie section à Dieulouard, l’autre moitié à Maidières/Montauville et l’A1 vient à Belleville
        pour repartir ensuite à Pont-à-Mousson à l’école supérieure de Filles. L’A3 est au hameau Saint-Georges à
        Saizerais. En avril 1915, l’HOE (Hôpital Organisé d’Etape), l’hôpital d’évacuation vers l’intérieur du pays, est
        à Toul. Les blessés y sont acheminés depuis la gare de Dieulouard. </p><br>

        <p> Le 27 avril 1915 la salle d’évacuation de Dieulouard, qui se tenait dans la salle des fêtes, est abandonnée du
        fait des lourds bombardements qui obligent à évacuer par la gare de Belleville. Le 2 mai 1915, l’ambulance no
        3/64 (a priori une ambulance « prêtée » par la 64e DI) arrive à Belleville. Les blessés sont divisés en trois
        catégories : - les blessés ou les malades qu’il y a intérêt à conserver à proximité ; - ceux provenant des
        postes de secours répartis entre l’HA (hôpital auxiliaire) 45 de Pont-à-Mousson (ainsi qu’à Saint Charles et à
        la Nativité) et l’A2 de Dieulouard ; - les blessés ou malades devant être évacués à l’H.O.E de Toul.</p> <br>

       <p> À cette date, la partie « centre d’évacuation » est composée de deux tentes Hébert, d'une baraque Adrian, de
        deux tentes tortoises et de différentes tonnelles destinées aux blessés qui attendent le train. Les blessés
        arrivent à un rythme effréné, 2 712 entre le 28 avril et le 31 juillet 1915, avec les 2 179 qui furent
        comptabilisés entre le 30 mars et le 11 avril de la même année, cela fait un total effroyable de près de 5 000,
        nombre toutefois bien en deçà des 22 000 blessés et des 7 000 morts que firent les combats du Bois le Prêtre,
        sur la seule période de janvier à août 1915. À partir du 7 août 1915, alors que cette terrible bataille est sur
        le point de prendre fin, l’ambulance chirurgicale no 9 est affectée à la 73e DI avec pour lieu de stationnement,
        l’hôpital de Belleville. Cette unité est installée essentiellement dans le parc, sauf les grands blessés,
        intransportables nécessitant une intervention immédiate, qui sont hospitalisés dans le château Variot lui-même.
        En août 1915, on trouve également plusieurs baraquements, dont quatre Faravian, implantés pour l’A3/64 avec
        cuisine, remise à matériel etc., ainsi qu’un service dédié aux blessés atteints de maladies contagieuses, un
        vaste dépôt de matériel sanitaire et un cimetière militaire sis derrière l’actuel cimetière civil. Un peu plus
        tard, à la fin de l’année 1915, la guerre des gaz fait rage un peu partout sur le front et la 73e se dote à
        Belleville d’un laboratoire de toxicologie. Pour l’accueillir, un nouveau baraquement est construit
        parallèlement à la ligne de chemin de fer.</p> <br>

        <p> Le 14 février 1916, la SSU2 de l’AAFS, c’est-à-dire la section no 2 d’ambulanciers volontaires américains quitte
        le secteur pour la Meuse, elle est remplacée par la section française d’ambulance automobile no 96 équipée de
        véhicules F.I.A.T. Un peu plus tard, le 4 juin 1916, l’AC9 quitte Belleville pour Bar-le-Duc à la disposition du
        Chef du Service Sanitaire de la 3e Armée Française. Ce point tend à montrer que malgré la proximité de la
        bataille de Verdun, engagée depuis plus de trois mois, l’activité militaire au Bois le Prêtre nécessita jusqu'à
        juin 1916 une antenne chirurgicale à proximité.</p> <br>

       <p> Au printemps 1916, on pratiquait à Belleville l’héliothérapie, c’est-à-dire un traitement des plaies,
        (amputation notamment) par l'irradiation solaire. On notera qu’en ce début de xxe siècle, cette méthode était
        assez couramment employée dans le traitement de la tuberculose osseuse. Dans son article consacré aux
        ambulanciers US volontaires au Bois-le-Prêtre en 1915, maître Charles François, Loup du Bois-le-Prêtre, évoque
        les hôpitaux militaires de Dieulouard, Belleville et Pont-à-Mousson : "Et ils (les ambulanciers américains)
        sillonnaient les routes et les chemins, passant partout, allant chercher les blessés à l'auberge Saint-Pierre,
        au Gros-chêne, au Père Hilarion, pour les conduire aux hôpitaux de Pont-à-Mousson, de Dieulouard et de
        Belleville" Charles François, (27 juin 1893-9 décembre 1980), fut notaire à Pont-à-Mousson. Il possédait avant
        guerre un bois au Bois le Prêtre même.</p> <br>

    <p>Église médiévale Saint-Étienne xve siècle/xvie siècle comme le montrent la nef et les bas-côtés, remaniée xviiie
        siècle et xixe siècle : mobilier xviiie siècle. Sa construction a été réalisée à partir d'un édifice plus
        ancien. Propriété de la commune, l'église a été classée monument historique en juin 200421. Elle est de style
        gothique. Son clocher date de la fin du xviie- début xviiie siècle. Le chœur a ét</p> <br>
    <h3>Gastronomie</h3>
    <p>Belleville est située sur le territoire des IGP des Mirabelles de Lorraine et de la Bergamote de Nancy. La
        commune appartient également à l'AOR de l'Eau-de-vie Mirabelle de Lorraine.</p> <br>
    <h3>Personnalités liées à la commune</h3>
    <p>Gaston-Pierre de Lévis-Mirepoix, né à Belleville en 1699, militaire et diplomate devenu maréchal de France en
        1757.</p>
    <h3>Héraldique</h3>
    <img src="http://village.dylanweisse.com/Blason.png" alt="">

    <ul>
        <h4>Blason</h4>
        <li>D'argent à l'olivier terrassé de sinople, accompagné en chef de deux tours de gueules, au chef d'azur chargé
            d'un lion léopardé d'or.</li>
    </ul>

    <ul>
        <h4>Details</h4>
        <li>Adopté en 1985, ce blason figure un lion "léopardé" et un arbre, un olivier, en souvenir des armes du baron
            Olivier, seigneur de Belleville, toujours visibles sur une pierre sculptée à l'entrée de la mairie, suivies
            de celles de Christine de Longeville. Les deux tours symbolisent les Saintignon qui eurent un rôle
            considérable.</li>
    </ul>

</div>

{% endblock %}