{% extends "crudTemplate.html.twig" %}

{% block body %}





{% block content %}
<div class="flexbox">
    <div class="container-lg-card">
        <a class="large-card" href="">
            Afficher les Evénements
        </a>
        <a class="large-card" href="">
            Afficher les Actualités
        </a>
    </div>

    <div class="container-sm-card">
        <a class="small-card" href="">
            Créer un Evénement
        </a>
        <a class="small-card" href="">
            Créer une Actualité
        </a>
        <a class="small-card" href="">
            Ajouter un Utilisateur
        </a>
    </div>
</div>
{% endblock  %}

{% endblock %}